body{
  background-color: burlywood;
  font-family: 'Grandstander', cursive;
}

.App {
  background-color: burlywood;
  height: 100vh;
  width: 100vw;
}

.title{
  color: antiquewhite;
  text-align: center;
  font-size: 55pt;
  text-shadow: 1.25px .25px 3px rgb(78, 76, 72);
}

.nav-bar {
  list-style-type: none;
  overflow: hidden;
  background-color: antiquewhite;
  margin: 0;
  padding: 0; 
  position: sticky;
  display: flex;
  justify-content: space-between;
  margin-right: .75rem;
  font-size: 25pt;
}


.links {
  float: left;
  display: flex;
  justify-content: space-between;
  font-size: 14pt;
  margin: .5rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  color: burlywood;
  text-shadow: .5px .5px .5px rgb(78, 76, 72);
}

.link a {
  float: left;
  display: flex;
  justify-content: space-between;
  font-size: 24pt;
  margin: .5rem;
  margin-right: .5rem;
  padding: .5rem;
  padding-right: .5rem;
  text-align: center;
  text-decoration: none;
  color: burlywood;
  text-shadow: .5px .5px .5px rgb(78, 76, 72);
}

.main h1 {
  text-align: center;
  font-size: 30pt;
  color: antiquewhite;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
  margin-top: 2.5rem;
}

.main h2{
  text-align: center;
  font-size: 20pt;
  color: antiquewhite;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
} 

.main h3, h4{
  text-align: center;
  font-size: 18pt;
  color: antiquewhite;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
}


.main .disclaimer {
  text-align: center;
  font-size: 16pt;
  color: antiquewhite;
  padding-left: 1.5rem;
  padding-right: 2rem;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
}

.main p{
  text-align: left;
  font-size: 16pt;
  color: antiquewhite;
  padding-left: 1.5rem;
  padding-right: 2rem;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
  padding-bottom: 1rem;
  padding-top: 1rem;
} 

.pets-container{
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.animal-card {
  float: left;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  color: salmon;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.33);
  width: 550px;
  height: 600px;
  box-sizing: border-box;
}

.animal-img{
  max-width: 500px;
  max-height: 275px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33)
} 

.name .breed {
  text-align: center;
  padding: .1rem;
  margin: 1rem;
} 

.footer-bar {
  float: inline-end;
  list-style-type: none;
  overflow: hidden;
  background-color: antiquewhite;
  bottom: 0%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;   
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  padding-right: 1rem;
  margin: 1.5rem;
  color: antiquewhite;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
}

.sort-by-species-group, .sort-by-species  {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  color: antiquewhite;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
}

.sort-by-breed-group, .sort-by-breed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  color: antiquewhite;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
}

.sort-by-age-group, .sort-by-age {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  color: antiquewhite;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
}

.sort-by-activity-level-group, .sort-by-activity-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  color: antiquewhite;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
}

.sort-by-shedding-level-group, .sort-by-shedding-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  color: antiquewhite;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
}

.sort-by-barking-level-group, .sort-by-barking-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  color: antiquewhite;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
}

.patent{
  max-width: 500px;
  max-height: 275px;
  display: block;
}

.sign-in-form, .sign-up-form{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  margin: auto;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
  background-color: burlywood;
}

.sign-in-form input, .sign-up-form input{
  background-color: burlywood;
  color: antiquewhite;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
  margin-top: .2rem;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.sign-in-form label, .sign-up-form label{
  color: antiquewhite;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
  margin-top: .2rem;
}
.sign-in-form button, .sign-up-form button{
  background-color: burlywood;
  color: antiquewhite;
  text-shadow: 1.25px .25px 3px rgb(112, 108, 101);
  margin-top: .5rem;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.20);
}

.user-card{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 75rem;
  padding: 1rem;
  margin: auto;
  padding: 1rem;
  margin: auto;
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
  background-color: burlywood;
} 

.user-card img{
  max-width: 650px;
  max-height: 750px;
}


